*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
.header{
    height:100vh;
    width:100%;
    background-repeat:no-repeat ;
    background-size: cover;
    position:  absolute;
}
.header .Logo{
    height:15vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo img{
    height:80px;
    width:200px;
}
.Logo .social{
    position: absolute;
    right:10px;
    height:15vh;
    width:80px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.Logo .social img{
    height:30px;
    width:30px;
    border-radius:10px;
    margin:5px;
    color:white;
    cursor: pointer;
}
.nav{
  height:25vh;
  width:100%;
}
.links{
    height: 10vh;
    width:100%;
    border-bottom:1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 1000;
    background-color: rgba(255,255,255,0.6);
}
.sticky-active{
  background-color: white; 
}
.nav_sticky{
  height:800vh;
  width:100%;
}
.header .links a{
   border-bottom: 3px solid  rgba(255,255,255,0);;
    color:black;
    text-decoration: none;
    font-size: 22px;
    padding:10px 5px;
    margin:0 2%;
}
.header .links2{
  display: none;
}
.links2 .main-menu1 ul li ul{
  display: none;
}
.links2 ul{
  list-style-type: none;
}

.links a:hover{
    border-bottom: 3px solid white;
}
.header .page_info{
    height:75vh;
    width:100%;
    color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    text-align: center;
}
.main .heading{
  height:40vh;
  width:100%;
  font-size:40px;
  border-bottom:1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#dif_font{
  font-family: Segoe Script;
  font-size: 30px;
}
.Philosophy{
  height:150vh;
  width: 100%;
  border-bottom: 1px solid gray;
}
.Philosophy #head{
  text-align: center;
  font-size: 45px;
  padding:50px 0;
}
.Philosophy .container{
  height:100vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
}
.Philosophy .card{
  height:80vh;
  width:270px;
  box-shadow: 1px 1px 9px rgb(199, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Philosophy .card img{
  height:170px;
  width:170px;
  margin:20px;
}
.card .info{
  height:80px;
  width: 180px;
  font-size: 15px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 0;
}
.card p{
  text-align: center;
  width: 100%;
  font-weight: 100;
  font-size: 50px;
}
.Philosophy #Explore{
  height:40px;
  width:100%;
  display: flex;
  justify-content: center;
}
.Philosophy a{
  text-decoration: none;
  font-size: 18px;
  padding:10px 0;
  color:black;
}
.Philosophy a:hover{
  border-bottom: 2px solid black;
}
.Features{
  height:200vh;
  width: 100%;
  border-bottom: 1px solid gray;
}
.Features #head{
  text-align: center;
  font-size: 45px;
  padding:50px 0;
}
.Features .container{
  height:150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
}
.Features .container .card{
  height:250px;
  width:350px;
  box-shadow: 1px 1px 9px rgb(199, 197, 197);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.Features .card img{
  height:100px;
  width:120px;
}
.Features .txt{
  height:100px;
  width:100px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.Features a{
  text-decoration: none;
  font-size: 18px;
  padding:10px 0;
  color:black;
}
.Features #Explore{
  height:40px;
  width:100%;
  display: flex;
  justify-content: center;
}
.Features a:hover{
  border-bottom: 2px solid black;
}
.Learning{
  height:100vh;
  width:100%;
  background-image: url('https://www.godrejcareers.com/images/learning/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Learning .details{
  height:300px;
  width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Learning img{
  height:80px;
  width:320px;
  margin:0 auto;
}
.Learning p{
  height:100px;
  width:500px;
  text-align: center;
  margin-top:20px;
  color: white;
  font-size: 27px;
}
.Learning a{
  width:100px;
  text-decoration: none;
  font-size: 18px;
  padding:10px 0;
  border-bottom: 2px solid rgba(0,0,0,0);
  color:white;
  text-align: center;
}
.Learning a:hover{
  border-bottom: 2px solid white;
}
.ReachOut{
  height: 140vh;
  width: 100%;
}
.ReachOut #head{
  text-align: center;
  font-size: 45px;
  padding:50px 0;
}
.ReachOut .container{
  height:90vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
}
.ReachOut .container .card{
  height:180px;
  width:350px;
  box-shadow: 1px 1px 9px rgb(199, 197, 197);
  display: flex;
}
.ReachOut span{
  font-size: 22px;
  color:gray;
  font-weight: bold;
  margin:30px 20px;
}
.ReachOut p{
  font-size: 27px;
  font-weight: bold;
  text-align: left;
  margin:30px 10px;
  line-height: 1.4;
}
.ReachOut .card .middle{
  height:17px;
  width:17px;
}
.ReachOut .block{
  position: relative;
  top:20%;
  left:27%;
  height:48px;
  width: 35px;
}
.ReachOut #Explore{
  height:40px;
  width:100%;
  display: flex;
  justify-content: center;
}
.ReachOut a{
  text-decoration: none;
  font-size: 18px;
  padding:10px 0;
  color:black;
}
.ReachOut a:hover{
  border-bottom: 2px solid black;
}
.Apply{
  height:40vh;
  width:100%;
  background-image: url('../images/Explore_exciting_opportunities.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.Apply .blur{
  height:40vh;
  width:100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Apply #link{
  height:50px;
  width:180px;
}
.Apply #link a{
  color:white;
  font-size: 30px;
  text-decoration: none;
  padding:10px 5px;
}
.Apply a:hover{
  border-bottom: 2px solid white;
}

.footer{
  height:50vh;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer h2{
  margin: 10px 0;
  line-height: 0.7;
  font-size: 22px;
  font-weight: 600;
}
.footer a{
  text-decoration: none;
  font-size: 16px;
  color:rgb(175, 175, 175);
  line-height: 1.5;
}
.footer p{
  text-decoration: none;
  font-size: 16px;
  color:rgb(157, 156, 156);
  margin:30px 20px 20px 0px;
  line-height: 1.5;
}
.footer .About{
  height:40vh;
  width:30%;
}
.footer .Links{
  height:40vh;
  width:20%;
  display: flex;
  flex-direction: column;
}
.footer .Address{
  height:40vh;
  width:25%;
}
.copyrights{
  height:10vh;
  width:100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyrights .left{
  margin-left: 40px;
}
.copyrights .right{
  margin-right: 50px;
}
.copyrights a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin:10px;
  padding:10px 15px;
}
.copyrights p{
  color:white;
  margin-left: auto;
  font-size: 15px;
}

.nav .links2{
  display: none;
}
ul {
  list-style-type: none;
}
@media screen and (max-width:1200px) {
  .header{
      background-position: 50%;
  }
  .nav{
    border-bottom: 1px solid white;
  }
  .nav .Logo{
    justify-content: space-between;
  }
  .Logo .social{
      display: none;
    }
.nav .links{
  display: none;
}
.nav ul{
  position: relative;
  margin-top:100px;
}
.nav ul li ul li{
  height:50px;
  width:250px;
  background-color: white;
}
.nav ul li ul li a{
  font-size: 20px;
  color: white;
}
.nav ul li ul li a:hover{
  height:30px;
  width:250px;
  background-color: lightgray ;
  color:white;
  display: inline-block;
}
    .nav .links2 ul li ul li a{
      text-decoration: none;
      color:black;  
    }
.nav .links2 ul li ul li{ 
   display: none;
}
.nav ul li:hover ul li{
  display: block;
}
.nav .links2{
  display: block;
  color:black;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}
  .nav1{
      flex-direction: column;
      align-items: center;
  }
  .Philosophy{
    height:320vh;
  }
  .Philosophy .container{
    height:260vh;
  }
  .Features{
    height:380vh;
  }

  .Features .container{
    height:320vh;
  }
  .page_info{
    width:100%;
  }
 .ReachOut{
  height: 230vh;
 }
 .ReachOut .container{
  height: 180vh;
 }
  .content{
      height: 150vh;
      width:100%;
      flex-direction: column;
  }
  .content .left-image{
      height:100vh;
      width:85%;
  }
  .content .right_details{
      width:100%;
      margin-left:13%
  }
  .footer{
      height:150vh;
      flex-direction: column;
  }
  .footer .About{
      height:30vh;
      width:85%;
  }
  .footer .Links{
      height:30vh;
      width:85%;
  }
  .footer .Address{
      height:30vh;
      width:85%;
  }
}

@media screen and (max-width:600px) {
 
  .nav1{
      flex-direction: row;
  }
  .nav1 .main-menu{
      display: none;
  }
  .nav1 .main-menu1{
      display: block;
      margin-right: 10px;
      cursor: pointer;
  }
  .nav1 .main-menu1 ul li ul{
      display: none;
  }
  .nav1 ul{
      list-style-type: none;
  }
  .nav1 .main-menu1 span{
      color:black;
      font-size: 6vw;
  }
  /* .nav1 .main-menu1 ul li:hover {
      
  } */
  .nav1 .logo{
      height:12vh;
      width:220px;
  }
  .header{
      background-position: 50%;
  }
  .main-content{
      height:1060vh;
  }
  .content{
      height: 150vh;
      width:100%;
      flex-direction: column;

  }
  .content .left-image{
      height:100vh;
      width:85%;
  }
  .content .right_details{
      width:100%;
      margin-left:13%
  }
  .footer{
      height:150vh;
      flex-direction: column;
  }
  .footer .About{
      height:30vh;
      width:85%;
  }
  .footer .Links{
      height:30vh;
      width:85%;
  }
  .footer .Address{
      height:30vh;
      width:85%;
  }
  .copyrights a{
      text-decoration: none;
      color: white;
      font-size: 2vw;
      margin:10px;
      padding:10px 15px;
  }
  .copyrights p{
      color:white;
      margin-left: auto;
      font-size: 2vw;
  }
}