*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Entire body */
@font-face {
    font-family: 'Avenir';
    src: url('./Assets/avenir_ff/AvenirLTStd-Book.otf'); 
}

body {
    font-family: 'Avenir', sans-serif; 
}
html{
    scroll-behavior: smooth;
}

/* Nav-section */

.nav-section {
    width: 100%;
    height: 10%;
    padding: 0 1.3rem;
    display: flex;
    /* flex-wrap: wrap; */
    padding-right: 1.7rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 100;
    box-shadow: 1px 0 1px rgb(94, 94, 94);
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (min-width:761px) and (max-width:1000px){
    .nav-section {
      /* background-color: blue; */
      height: 17.5%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
  
  }
  
  @media screen and (max-width: 760px) {
    .nav-section {
      /* background-color: blue; */
      height: 8%;
    }
  
    .nav-content-section {
      display: none;
    }
  
    #nav-img {
      width: 40%;
      margin-left: -1rem;
    }
  
    .nav-icon {
      display: block;
      margin-right: -1rem;
      cursor: pointer;
    }
  
    #triggered-up {
      height: 1%;
    }
  }
  
  .nav-content-section a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .right-section {
    display: flex;
    justify-content: space-around;
    gap: 2.6rem;
    align-items: center;
  }
  
  .nav-section img {
    width: 220px;
  }
  
  .underline {
    width: 0%;
    height: 2px;
    background-color: black;
    transition: 0.2s;
    transition-timing-function: ease-out;
    margin-top: 3px;
    border-radius: 1px;
  }
  
  .nav-content-section:hover .underline {
    width: 100%;
  }
  
  .know-us-nav p {
    width: fit-content;
     text-align: center;
    /* background-color: red; */ 
  }
  
  .know-us-nav p:hover {
    font-weight: bold;
  }
  
  .know-us-nav {
    width: 100%;
    height: 85px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.3rem;
    padding-right: 5rem;
    font-size: 1.1rem;
    visibility: hidden;
    transition-duration: 0.5s;
  }
  
  .nav-content-section:hover .know-us-nav {
    visibility: visible;
  }
/* Entire body */
@font-face {
    font-family: 'Avenir';
    src: url('./Assets/avenir_ff/AvenirLTStd-Book.otf'); 
}

body {
    font-family: 'Avenir', sans-serif; 
}
html{
    scroll-behavior: smooth;
}

/* Nav-section */

.nav-section {
    width: 100%;
    height: 10%;
    padding: 0 1.3rem;
    display: flex;
    /* flex-wrap: wrap; */
    padding-right: 1.7rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #fff;
    z-index: 100;
    box-shadow: 1px 0 1px rgb(94, 94, 94);
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (min-width:761px) and (max-width:1000px){
    .nav-section {
      /* background-color: blue; */
      height: 17.5%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
  
  }
  
  @media screen and (max-width: 760px) {
    .nav-section {
      /* background-color: blue; */
      height: 8%;
    }
  
    .nav-content-section {
      display: none;
    }
  
    #nav-img {
      width: 40%;
      margin-left: -1rem;
    }
  
    .nav-icon {
      display: block;
      margin-right: -1rem;
      cursor: pointer;
    }
  
    #triggered-up {
      height: 1%;
    }
  }
  
  .nav-content-section a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  .right-section {
    display: flex;
    justify-content: space-around;
    gap: 2.6rem;
    align-items: center;
  }
  
  .nav-section img {
    width: 220px;
  }
  
  .underline {
    width: 0%;
    height: 2px;
    background-color: black;
    transition: 0.2s;
    transition-timing-function: ease-out;
    margin-top: 3px;
    border-radius: 1px;
  }
  
  .nav-content-section:hover .underline {
    width: 100%;
  }
  
  .know-us-nav p {
    width: fit-content;
     text-align: center;
    /* background-color: red; */ 
  }
  
  .know-us-nav p:hover {
    font-weight: bold;
  }
  
  .know-us-nav {
    width: 100%;
    height: 85px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3.3rem;
    padding-right: 5rem;
    font-size: 1.1rem;
    visibility: hidden;
    transition-duration: 0.5s;
  }
  
  .nav-content-section:hover .know-us-nav {
    visibility: visible;
  }
.page_info{
    height: 110vh;
    width:100%;
    background-image:url('https://www.godrejindustries.com/public/images/about/know-us/know_us_banner-01_new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.page_info .blur{
    height: 110vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
}
.page_info .info{
    height:150px;
    width:400px;
    font-size: 100px;
    color:white;
    font-weight: bold;
    font-family: Calibri;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    height:255vh;
    width:100%;
    margin-top: 200px;
}
.main-content h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin:100px;
    letter-spacing: 2px;
    font-family: Calibri;
}
.content1{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-image{
    height:100vh;
    width:40%;
}
.left-image img{
    height: 100vh;
    width: 100%;
}
.right_details{
    height:100vh;
    width:40%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.right_details h2{
    margin: 10px;
    line-height: 0.7;
    font-size: 32px;
    font-weight: 400;
}
.right_details p{
    font-size: 17px;
    color:rgb(175, 175, 175);
    margin:30px 80px 10px 10px;
    line-height: 1.6;
}
.right_details a{
    text-decoration: none;
    color:black;
    margin: 10px;
    font-size: 18px;
}
.footer{
    height:50vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer h2{
    margin: 10px 0;
    line-height: 0.7;
    font-size: 22px;
    font-weight: 600;
}
.footer a{
    text-decoration: none;
    font-size: 16px;
    color:rgb(175, 175, 175);
    line-height: 1.5;
}
.footer p{
    text-decoration: none;
    font-size: 16px;
    color:rgb(157, 156, 156);
    margin:30px 20px 20px 0px;
    line-height: 1.5;
}
.footer .About{
    height:40vh;
    width:30%;
}
.footer .Links{
    height:40vh;
    width:20%;
    display: flex;
    flex-direction: column;
}
.footer .Address{
    height:40vh;
    width:25%;
}
.copyrights{
    height:10vh;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrights .left{
    margin-left: 8%;
}
.copyrights .right{
    margin-right: 50px;
}
.copyrights a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    margin:10px;
    padding:10px 15px;
}
.copyrights p{
    color:white;
    margin-left: auto;
    font-size: 1.2vw;
}

@media screen and (max-width:1000px) {
    
    .main-content{
        height:360vh;
    }
    .content1{
        height: 150vh;
        width:100%;
        flex-direction: column;

    }
    .content1 .left-image{
        height:100vh;
        width:85%;
    }
    .content1 .right_details{
        width:100%;
        margin-left:13%
    }
    .footer{
        height:150vh;
        flex-direction: column;
    }
    .footer .About{
        height:30vh;
        width:85%;
    }
    .footer .Links{
        height:30vh;
        width:85%;
    }
    .footer .Address{
        height:30vh;
        width:85%;
    }
    .copyrights a{
      text-decoration: none;
      color: white;
      font-size: 12px;
      margin:10px;
      padding:10px 5px;
  }
  .copyrights p{
      color:white;
      margin-left: auto;
      font-size: 12px;
  }
}
@media screen and (max-width:600px) {
    .header{
        height:15vh;
        width:100%;
    }
    .nav1{
        flex-direction: row;
    }
    .nav1 .main-menu{
        display: none;
    }
    .nav1 .links{
        display: none;
      }
  .nav ul{
    margin-top:200px;
  }
  .nav1 ul li ul li{
    height:25px;
    width:200px;
    background-color: white;
  }
  .nav1 ul li ul li a:hover{
    height:25px;
    width:200px;
    background-color: white ;
    display: inline-block;
  }
      .nav1 .links2 ul li ul li a{
        text-decoration: none;
        color:black;  
      }
  .nav1 .links2 ul li ul li{ 
     display: none;
  }
  .nav1 ul li:hover ul li{
    display: block;
  }
  .nav1 .links2{
    display: block;
    color:black;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
  }

    .nav1 .main-menu1 span{
        color:black;
        font-size: 6vw;
    }
    /* .nav1 .main-menu1 ul li:hover {
        
    } */
    .nav1 .logo{
        height:12vh;
        width:220px;
    }
    .page_info{
        background-position: 50%;
    }
    .main-content{
        height:360vh;
    }
    .content1{
        height: 150vh;
        width:100%;
        flex-direction: column;

    }
    .content1 .left-image{
        height:100vh;
        width:85%;
    }
    .content1 .right_details{
        width:100%;
        margin-left:13%
    }
    .footer{
        height:150vh;
        flex-direction: column;
    }
    .footer .About{
        height:30vh;
        width:85%;
    }
    .footer .Links{
        height:30vh;
        width:85%;
    }
    .footer .Address{
        height:30vh;
        width:85%;
    }
    .copyrights a{
      text-decoration: none;
      color: white;
      font-size: 11px;
      margin:1px;
      padding:10px 2px;
  }
  .copyrights p{
      color:white;
      margin-left: auto;
      font-size: 11px;
  }
}