*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height:15vh;
    width:100%;
}
.nav1{
    height:15vh;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.nav1 .logo{
    height:15vh;
    width:250px;
}
.logo img{
    height:70px;
    width:220px;
}
.nav1 .main-menu{
    height:15vh;
    width:580px;
    display: flex;
    align-items: center;
}
.main-menu a{
    text-decoration: none;
    color:black;
    margin:0 15px;
    padding:3px 0;
    font-size: 17px;
    border-bottom: 2px solid white;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri;

    transition: border 1s;

}
.main-menu a:hover{
    border-bottom: 2px solid black;
}
.header .nav2{
    height:15vh;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .nav2 a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin:0 25px;
}
.header .nav2{
    display: none;
}
.header #Know_Us:hover + .nav2{
    display: block;
}
/* ---------main---- */

.container{
    height:120vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.box img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
#box-1{
    grid-row:1 / span 3;
}
#box-2{
    grid-row:1 / span 2;
}
#box-3{
    grid-area:3/2/4/2;
}
#box-4{
    grid-row:1 / span 3;
}
#box-5{
    grid-row:1/ span 1;
}
#box-6{
     grid-area: 2/4/3/4;
}
#box-7{
    grid-area: 3/4/4/4;
}
#box-8{
    grid-row:1 / span 3;
}

.footer{
    height:50vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer h2{
    margin: 10px 0;
    line-height: 0.7;
    font-size: 22px;
    font-weight: 600;
}
.footer a{
    text-decoration: none;
    font-size: 16px;
    color:rgb(175, 175, 175);
    line-height: 1.5;
}
.footer p{
    text-decoration: none;
    font-size: 16px;
    color:rgb(157, 156, 156);
    margin:30px 20px 20px 0px;
    line-height: 1.5;
}
.footer .About{
    height:40vh;
    width:30%;
}
.footer .Links{
    height:40vh;
    width:20%;
    display: flex;
    flex-direction: column;
}
.footer .Address{
    height:40vh;
    width:25%;
}
.copyrights{
    height:10vh;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrights .left{
    margin-left: 40px;
}
.copyrights .right{
    margin-right: 50px;
}
.copyrights a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin:10px;
    padding:10px 15px;
}
.copyrights p{
    color:white;
    margin-left: auto;
    font-size: 15px;
}
.links2{
    display: none;
}
ul {
    list-style-type: none;
}

@media screen and (max-width:1000px) {
    .header{
        height:25vh;
        width:100%;
    }
    .page_info{
        background-position: 50%;
    }
    .nav1{
        flex-direction: column;
        align-items: center;
    }

    .main-content{
        height:1050vh;
    }
    .content{
        height: 150vh;
        width:100%;
        flex-direction: column;
    }
    .content .left-image{
        height:100vh;
        width:85%;
    }
    .content .right_details{
        width:100%;
        margin-left:13%
    }
    .footer{
        height:150vh;
        flex-direction: column;
    }
    .footer .About{
        height:30vh;
        width:85%;
    }
    .footer .Links{
        height:30vh;
        width:85%;
    }
    .footer .Address{
        height:30vh;
        width:85%;
    }
}

@media screen and (max-width:600px) {
      
  .nav1 .links{
    display: none;
  }
.nav ul{
margin-top:200px;
}
.nav1 ul li ul li{
height:25px;
width:200px;
background-color: white;
}
.nav1 ul li ul li a:hover{
height:25px;
width:200px;
background-color: white ;
display: inline-block;
}
  .nav1 .links2 ul li ul li a{
    text-decoration: none;
    color:black;  
  }
.nav1 .links2 ul li ul li{ 
 display: none;
}
.nav1 ul li:hover ul li{
display: block;
}
.nav1 .links2{
display: block;
color:black;
font-size: 20px;
margin-right: 10px;
cursor: pointer;
}
    .header{
        height:15vh;
        width:100%;
    }
    .nav1{
        flex-direction: row;
    }
    .nav1 .main-menu{
        display: none;
    }
    .nav1 .main-menu1{
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }
    .nav1 .main-menu1 ul li ul{
        display: none;
    }
    .nav1 ul{
        list-style-type: none;
    }
    .nav1 .main-menu1 span{
        color:black;
        font-size: 6vw;
    }
    /* .nav1 .main-menu1 ul li:hover {
        
    } */
    .nav1 .logo{
        height:12vh;
        width:220px;
    }
    .page_info{
        background-position: 50%;
    }
    .main-content{
        height:1060vh;
    }
    .content{
        height: 150vh;
        width:100%;
        flex-direction: column;

    }
    .content .left-image{
        height:100vh;
        width:85%;
    }
    .content .right_details{
        width:100%;
        margin-left:13%
    }
    .footer{
        height:150vh;
        flex-direction: column;
    }
    .footer .About{
        height:30vh;
        width:85%;
    }
    .footer .Links{
        height:30vh;
        width:85%;
    }
    .footer .Address{
        height:30vh;
        width:85%;
    }
    .copyrights a{
        text-decoration: none;
        color: white;
        font-size: 2vw;
        margin:10px;
        padding:10px 15px;
    }
    .copyrights p{
        color:white;
        margin-left: auto;
        font-size: 2vw;
    }
}